@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.feynman {
  min-height: 890px;
  position: relative;
  background-color: $bg-grey;

  &__title {
    @include feynman-title-style;
    max-width: 648px;
    font-size: 120px;
    font-weight: 600;
    padding-top: 100px;
    margin-block: 0 70px;
    z-index: 3;
  }

  &__subtitle {
    @include feynman-title-style;
    margin-block: 0;
    z-index: 1;
    font-size: 36px;
    font-weight: normal;
  }

  &__link {
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 4;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: $animation-and-links-color;
    transition: opacity .3s ease;
    opacity: 1;

    &:hover {
      opacity: .7;
    }
  }

  &__image {
    width: 867px;
    height: 637px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
}
